.clickable {
    cursor: pointer;
}

.masonry {
    -moz-column-width: 18em;
    -webkit-column-width: 18em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em;
}

.masonry-item {
    display: inline-block;
    padding:  .25rem;
    width:  100%;
}

a:hover, a:focus {
    text-decoration:none;
}

blockquote.newPost {
    border-left-color: #428bca;
}

.fade-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
    opacity: 1;
}

.fade-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
}
